<!-- TestNG XML Configuration -->
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="2" verbose="1" name="Parallel Test Suite" annotations="JDK" parallel="tests">
    <test name="HoverTest">
        <!-- Test Suite 1 -->
        <classes>
            <class name="suite1.hover.HoverTests" />
            <class name="suite1.javascript.JavaScriptTests" />
        </classes>

    </test>

    <test name="LoginTest">
        <!-- Test Suite 2 -->
        <classes>
            <class name="suite2.login.LoginTests" />
            <class name="suite2.navigation.NavigationTests" />
        </classes>
    </test>
</suite>
